.brikkeboks
{
    display: grid;
    margin: auto;

    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    column-gap: 5px;
    row-gap: 5px;    
    
    width: 400px;
    height: 400px;
}

.brikke
{
    position: absolute;
    width: 200px;
    height: 200px;
}