
.brikke{
    z-index: 2;
    position: absolute;
}

.center {
    margin: auto;
    width: 400px;
    border: 5px solid #994700;
    color: #4d2400;
    padding: 0px;
    background-color:#FFDAB9;
    text-align: center;
}

.helebrettet {
    display: grid;
    grid-template-columns: 800px 800px;
    margin: auto;  
}

.brett {
    z-index: 0;
    grid-template-columns: 200px 200px 200px 200px;
    display: grid;
    
    width: 800px;
    height: 600px;

    background-color: #4d2400;
   /* margin: auto er nødvendig for å få elementene sentrert*/  
   /* margin: auto; */ 
    float: left;
    padding: 5px;
    margin: 5px;
    border: 5px solid #994700;
}

.box{
    z-index: 1;
    border: #4d2400;
    border-width: 5px;
    position: relative;
    background-color: #FFF5EE;
}


/*Prøver "brikkeboks" til de løse delene og brett til "puslespillet"*/

 /* .brikkeboks {    
   
   grid-template-columns: 100px 100px 100px 100px 100px 100px;
   display: grid;
   
   height: 600px;
   width: 800px;
   
   background-color: #FFFAFA;
 margin: auto er nødvendig for å få elementene sentrert     
   margin: auto;
   padding: 10px;
   border: 5px solid floralwhite;

 experimenterer med "brikkeboks" for å få det litt rotete ish
} */
